header {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    z-index: 99;
	.container {
        @media (min-width: $screen-lg-min) {
            width: 1170px;
        }
		.navbar { 
			margin-bottom: 0;
			position: inherit;
			@media (min-width: $screen-md-min) {
				position: relative;
			}
			.main-nav__button { 
                $icon-h: 5px;
                $gutter-mobile: 20px;

                width: $icon-h*5+5;
                height: $icon-h*5;
                position: absolute;
                top: 17px;
                right: $gutter-mobile;
                transform: rotate(0deg);
                transition: .5s ease-in-out;
                cursor: pointer;
                background: none;
                border: 0;
                outline: 0;
                @media (min-width: $screen-sm-min) {
                    display: none;
                }
				.main-nav__button__icon {
                    display: block;
                    position: absolute;
                    height: $icon-h;
                    width: 100%;
                    background: black;
                    opacity: 1;
                    left: 0;
                    transform: rotate(0deg);
                    transition: .25s ease-in-out;
                    &:nth-child(1) {
                        top: 0px;
                    }

                    &:nth-child(2) {
                        top: $icon-h*2;
                        width: 100%;
                    }

                    &:nth-child(3) {
                        top: $icon-h*2;
                        width: 100%;
                    }

                    &:nth-child(4) {
                        top: $icon-h*4;
                        width: 100%;
                    }
                }
				&:hover {
					opacity: 0.5;
				}
			}
            .main-nav__button--open { 
                .main-nav__button__icon {
                    $icon-h: 5px;
                    &:nth-child(1) {
                        top: $icon-h*2;
                        width: 0%;
                        left: 50%;                        
                    }
                    &:nth-child(2) {
                        transform: rotate(45deg);
                        width: 100%;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                        width: 100%;
                    }
                    &:nth-child(4) {
                        top: $icon-h*2;
                        width: 0%;
                        left: 50%;
                    }
                } 
            }
			.box-logo {
				height: 51px;
				padding: 10px 50px 0 0;
				line-height: 20px;
				position: relative;
				z-index: 5;
                display: inline-block;
				@media (min-width: $screen-sm-min) {
					padding: 30px 20px 30px 0;
                    height: 100px;
				}
                @media (min-width: $screen-md-min) {
                    padding: 18px 60px 5px 0;
                    height: auto;
                }
                @media (min-width: $screen-lg-min) {
                    padding: 16px 75px 5px 0;
                    height: auto;
                }
			}
		}
	}
}

.navbar-collapse {
	padding-left: 15px;
	padding-bottom: 25px;
	position: absolute;
	background: white;
	width: 100%;
	left: 0;
	top: 100%;
	z-index: 6;
	height: 100vh;
    overflow: hidden;
	display: none;
	@media (min-width: $screen-xs-min)  {
		padding-left: 20px;
		padding-bottom: 19px;
	}
	@media (min-width: $screen-sm-min)  {
		top: 0;
		padding: 0;
		position: relative;
		background: transparent;
		height: auto;
		z-index: 2;
	}
	ul  {
		text-align: center;
		
		li {
			font-family: $museo;
			list-style: none;
			a {
				font-family: $museo;
			}
			&:last-child { 
				margin-right: 0;
			}
		}
	}
}

.main-nav__line {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 0;
    background: #00BFE1;
    height: 2px;
    transition: all .5s;
    @media (min-width: $screen-sm-min) {
        display: block;
        bottom: 28px;
    }
}

.menu_list--items {
	margin: 5px 0 0 0;
    margin: 0 auto;
    width: 175px;
    position: relative;
    @media (min-width: $screen-sm-min) {
        width: auto;
        margin: 0 0 0 0;
        overflow: hidden;
        float: none;
    }
    @media (min-width: $screen-md-min) {
        width: auto;
        margin: 0 0 0 0;
    }
	li {
		border-bottom: 1px solid black;
        @media (min-width: $screen-sm-min) {
            margin-right: 10px;
            border-bottom: 1px solid transparent;
        }
        @media (min-width: $screen-sm-min) {
            margin-right: 14px;
        }
        @media (min-width: $screen-lg-min) {
            margin-right: 43px;
        }
		a {
			padding: 0 0;
			line-height: 70px;
			font-size: 14px;
			font-weight: 500;
			color: black;
            @media (min-width: $screen-sm-min) {
                line-height: 50px;
                color: black !important;
                font-weight: 500 !important;
            }
            @media (min-width: 900px) {
                font-size: 14px;
            }
            @media (min-width: 1100px) {
                font-size: 15px;
            }
			&:hover, &:focus {
				background: transparent;
			}
		}
	}
}

.menu__redes-sociales {
	padding: 28px 0 0 0;
	overflow: hidden;
    margin: 0 auto;
    width: 175px;
    @media (min-width: $screen-sm-min) {
        width: auto;
        float: right;
        padding: 0 0 0 0;
    }
    @media (min-width: $screen-md-min) {
        padding: 0 0 0 0;
    }
	li {
		float: left;
		margin-right: 5px;
        border-bottom: 1px solid transparent;
        @media (min-width: $screen-sm-min) {
            margin-right: 3px;
        }
        @media (min-width: $screen-md-min) {
            margin-right: 5px;
        }
		a {
			padding: 0 0;
			display: block;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.letter-black {
	font-weight: 600 !important;
	color: black !important;
	&:hover {
		color: black;
	}
}

.letter-blue {
	font-weight: 600 !important;
	color: rgb(0, 191, 225) !important;
	&:hover {
		color: rgb(0, 191, 225);
	}
}

.logo-mobile {
    display: block;
    width: 31px;
    height: auto;
    @media (min-width: $screen-md-min) {
        display: none;
    }
}

.logo-desktop {
    display: none;
    @media (min-width: $screen-md-min) {
        display: block;
    }
}

.header--scrolling {
    background: white;
    @media (min-width: $screen-sm-min) {
        background: rgba(255, 255, 255, 0.95);
    }
}

.main-nav__link {
    position: relative;
}

.main-nav__item {
    position: inherit !important;
}

.main-nav {
    @media (min-width: $screen-sm-min) {
        display: block !important;
        padding-top: 26px;
        padding-bottom: 20px;
        top: auto;
        left: auto;
        width: auto;       
    }
    @media (min-width: $screen-md-min) {
        padding-top: 37px;
    }
}