
<div class="section-city" id="recuperar-ciudad">
  <div class="location-map">
    <div class="city-information">
      <div class="box-information">
        <h3 class="city-main-tittle">#RecuperaLaCiudad</h3>
        <p class="tittle-city">Es momento de repensar la ciudad.<br>Ayúdanos a mapear esos puntos de la ciudad que deberían mejorarse.</p>
        <form class="form-city">
          <div class="form-group">
            <input class="forms-inputs controls" id="pac-input" type="text" placeholder="Encuentra el punto a recuperar…"/>
          </div>
        </form>
        <div class="location-city"><a class="location-tittle" id="location-around">Cerca de mí</a><a class="icon-list" id="list-places" href=""><img src="img/icono/page-2.png" alt=""/></a><a class="icon-map" href=""><img src="img/icono/map.png" alt=""/></a></div>
      </div>
      <div class="location-places">
        <div class="container location-places-desktop"><a class="tittle-places" id="current-location">Cerca de mí</a>
          <p class="places-bg">Lugares populares</p>
          <ul>
            <li><a href="">Barranco</a></li>
            <li><a href="">Santiago de Surco</a></li>
            <li><a href="">Breña</a></li>
            <li><a href="">Cercado de Lima</a></li>
            <li><a href="">Chorrillos</a></li>
            <li><a href="">Miraflores</a></li>
            <li><a href="">San Isidro</a></li>
          </ul>
        </div>
      </div>
      <div class="list-places">
        <div class="listado-row">
          <div class="list-left"><img src="img/1.PNG" alt=""/></div>
          <div class="list-right">
            <h3 class="tittle-direction">Calle Pardo 57</h3>
            <p class="list-parrafo">Cables enredados en poste de vía pública y lorem ipsum dolorem..</p>
            <div class="address-share"><span>Carla Obregón</span><a class="compartir-place" href=""><img src="img/icono/share.PNG" alt=""/></a></div>
          </div>
        </div>
        <div class="listado-row">
          <div class="list-left"><img src="img/1.PNG" alt=""/></div>
          <div class="list-right">
            <h3 class="tittle-direction">Malecón Barranco, Costa Verde</h3>
            <p class="list-parrafo">Rajadura de postes de puente peatonal de vía pública y lorem…</p>
            <div class="address-share"><span>Andrés Tello</span><a class="compartir-place" href=""><img src="img/icono/share.PNG" alt=""/></a></div>
          </div>
        </div>
        <div class="listado-row">
          <div class="list-left"><img src="img/1.PNG" alt=""/></div>
          <div class="list-right">
            <h3 class="tittle-direction">Puente Avenida Brasil</h3>
            <p class="list-parrafo">Rajadura de postes de puente peatonal de vía pública y lorem…</p>
            <div class="address-share"><span>Daniela Vidal</span><a class="compartir-place" href=""><img src="img/icono/share.PNG" alt=""/></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-mapa">
      <div class="google_map" id="map_canvas"></div>
    </div>
  </div>
</div>