//colors
$black: #000000 !default;
$white: #ffffff !default;
$celeste: #00BEE0 !default;
$plomo: #4C4C4C !default;
$gris: rgb(143, 143, 142) !default;


//fonts
$base-font-family: 'museo-sans';
$museo: $base-font-family;
$base-font-size: 18px !default;
$base-font-weight: 300 !default;

//misc
$gutter-bootstrap: 15px !default;

$link-color: #847931 !default;
$link-hover-color: darken( #847931, 10% ) !default;

//sizes
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: 479px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
$screen-xxs-max: 375px;

$screen-sm-width: 750px;
$screen-md-width: 970px;
$screen-lg-width: 1170px;