@font-face {
    font-family: 'museo-sans';
    src: url('../fonts/museosans-100-webfont.eot');
    src: url('../fonts/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-100-webfont.woff') format('woff'),
         url('../fonts/museosans-100-webfont.ttf') format('truetype'),
         url('../fonts/museosans-100-webfont.svg#museo_sans100') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'museo-sans';
    src: url('../fonts/museosans-300-webfont.eot');
    src: url('../fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-300-webfont.woff') format('woff'),
         url('../fonts/museosans-300-webfont.ttf') format('truetype'),
         url('../fonts/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo-sans';
    src: url('../fonts/museosans-500-webfont.eot');
    src: url('../fonts/museosans-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-500-webfont.woff') format('woff'),
         url('../fonts/museosans-500-webfont.ttf') format('truetype'),
         url('../fonts/museosans-500-webfont.svg#museo_sans500') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'museo-sans';
    src: url('../fonts/museosans_0-webfont.eot');
    src: url('../fonts/museosans_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_0-webfont.woff') format('woff'),
         url('../fonts/museosans_0-webfont.ttf') format('truetype'),
         url('../fonts/museosans_0-webfont.svg#museo_sans700') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'museo-sans';
    src: url('../fonts/MuseoSans-700.eot');
    src: url('../fonts/MuseoSans-700.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSans-700.woff') format('woff'),
      url('../fonts/MuseoSans-700.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'museo-sans';
    src: url('../fonts/MuseoSans-900.eot');
    src: url('../fonts/MuseoSans-900.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSans-900.woff') format('woff'),
      url('../fonts/MuseoSans-900.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ib5nn8');
  src:  url('../fonts/icomoon.eot?ib5nn8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ib5nn8') format('truetype'),
    url('../fonts/icomoon.woff?ib5nn8') format('woff'),
    url('../fonts/icomoon.svg?ib5nn8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\ea90";
}
