strong {
    font-weight: 600;
}


.ocultar{
    display: none ;
    @media (min-width: $screen-sm-min){
        display: block;
    }
}
.ocultar2{
    display: block;
    @media (min-width: $screen-sm-min){
        display: none;
    }
}