html,
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    background: #ffffff;
}

body.body-overflow, html.body-overflow {
    overflow: hidden;
    @media (min-width: $screen-md-min) {
        overflow: auto;
    }
}

a {
    color: $link-color;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }
}

.wrapper {
    padding-left: 0;
    @media (min-width: $screen-md-min) {
        padding-left: 248px;
    }
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5xziiw');
  src:  url('../fonts/icomoon.eot?5xziiw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5xziiw') format('truetype'),
    url('../fonts/icomoon.woff?5xziiw') format('woff'),
    url('../fonts/icomoon.svg?5xziiw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e910";
}
.icon-minus:before {
  content: "\e905";
}
.icon-angle-right:before {
  content: "\e900";
}
.icon-angle-left:before {
  content: "\e901";
}
