.footer#postula
    .content-g
        .col-md-7.col-sm-7
            .sub-footer
                ul
                    li
                        a(href="") #RecuperaLaCiudad
                    li
                        a(href="") Ingeniería Civil
                    li
                        a(href="") Nuestros Pilares
                    li
                        a(href="") Artículos
                    li
                        a(href="") Postula
            .ocultar2
                h4 Jr. Medrano Silva 164, Barranco, Lima - Perú.
                h4 (511) 230 5020   -   (511) 230 5000
            .w-info
                .col-sm-7.pd-0
                    .ocultar
                        h4 Jr. Medrano Silva 164, Barranco, Lima - Perú.
                        h4 (511) 230 5020   -   (511) 230 5000
                .col-sm-5
                    p www.utec.edu.pe
                    h4 informes@utec.edu.pe
            .redes
                ul
                    li
                        a(href="")
                            img(src="img/icono/group2.png", alt="")
                    li
                        a(href="")
                            img(src="img/icono/group5.png", alt="")
                    li
                        a(href="")
                            img(src="img/icono/group6.png", alt="")
                    li
                        a(href="")
                            img(src="img/icono/group7.png", alt="")
                    li
                        a(href="")
                            img(src="img/icono/group8.png", alt="")



        .col-md-5.col-sm-5.col-xs-12.pd-0
            .col-logo
                img.logo-f(src="img/logo-desktop.png", alt="")
                h4 Copyright © 2017 UTEC. All rights reserved.
