.ing-civil#carrera-civil
    .conten-civil
        .content-text
            h4 Ingeniería Civil
            h3 Diseña la ciudad en la que quieres vivir.
            hr
            p En UTEC formamos ingenieros que piensan no sólo en <strong>soluciones de infraestructura</strong> sino en su impacto a través de nuevas tecnologías para diseñar ciudades sostenibles. Conoce más sobre la carrera de ingeniería Civil.
        a(href="", data-toggle="modal", data-target="#Modal-login") Solicita información
