
<div id="section-city">
  <div class="container">
    <h3>#RecuperaLaCiudad</h3>
    <p class="tittle-city">Es momento de repensar la ciudad. Ayúdanos a mapear esos puntos de la ciudad que deberían mejorarse.</p>
    <div class="form-group">
      <div class="input-group"><span class="input-group-addon" id="basic-addon1">@</span>
        <input class="form-control w-40 b-right-l" type="text" placeholder="Encuentra el punto a recuperar…" aria-describedby="basic-addon1"/>
      </div>
    </div>
    <div class="location-city"><img src="" alt=""/>
      <p>Cerca de mí</p><a href=""><img src="" alt=""/></a>
    </div>
  </div>
</div>