.section-city#recuperar-ciudad
    .location-map
        .city-information
            .box-information
                h3.city-main-tittle #RecuperaLaCiudad
                p.tittle-city Es momento de repensar la ciudad.<br>Ayúdanos a mapear esos puntos de la ciudad que deberían mejorarse.

                form.form-city
                    .form-group
                        input#pac-input.forms-inputs.controls(type="text", placeholder="Encuentra el punto a recuperar…")
                .location-city
                    a.location-tittle#location-around Cerca de mí
                    a.icon-list#list-places(href="")
                        img(src="img/icono/page-2.png", alt="")
                    a.icon-map(href="")
                        img(src="img/icono/map.png", alt="")

            .location-places
                .container.location-places-desktop
                    a.tittle-places#current-location Cerca de mí
                    p.places-bg Lugares populares
                    ul
                        li
                            a(href="") Barranco
                        li
                            a(href="") Santiago de Surco
                        li
                            a(href="") Breña
                        li
                            a(href="") Cercado de Lima
                        li
                            a(href="") Chorrillos
                        li
                            a(href="") Miraflores
                        li
                            a(href="") San Isidro

            .list-places
                .listado-row
                    .list-left
                        img(src="img/1.PNG", alt="")
                    .list-right
                        h3.tittle-direction Calle Pardo 57
                        p.list-parrafo Cables enredados en poste de vía pública y lorem ipsum dolorem..
                        .address-share
                            span Carla Obregón
                            a.compartir-place(href="")
                                img(src="img/icono/share.PNG", alt="")
                .listado-row
                    .list-left
                        img(src="img/1.PNG", alt="")
                    .list-right
                        h3.tittle-direction Malecón Barranco, Costa Verde
                        p.list-parrafo Rajadura de postes de puente peatonal de vía pública y lorem…
                        .address-share
                            span Andrés Tello
                            a.compartir-place(href="")
                                img(src="img/icono/share.PNG", alt="")

                .listado-row
                    .list-left
                        img(src="img/1.PNG", alt="")
                    .list-right
                        h3.tittle-direction Puente Avenida Brasil
                        p.list-parrafo Rajadura de postes de puente peatonal de vía pública y lorem…
                        .address-share
                            span Daniela Vidal
                            a.compartir-place(href="")
                                img(src="img/icono/share.PNG", alt="")

        .box-mapa
            #map_canvas.google_map
