header.header#navbar
    .container
        nav.navbar
            .navbar-header
                button.main-nav__button#nav-button(type="button")
                    span.main-nav__button__icon
                    span.main-nav__button__icon
                    span.main-nav__button__icon
                    span.main-nav__button__icon
                a.box-logo(href="index.html")
                    img.logo-mobile(src="img/logo.PNG", alt="")
                    img.logo-desktop(src="img/logo-desktop.png", alt="")
            .navbar-collapse.collapse#bs-example-navbar-collapse-1(aria-expanded="true")
                .menu_list--items.main-nav#navigation
                    .main-nav__line
                    ul.nav.navbar-nav.main-nav__list
                        li.active.main-nav__item
                            a.main-nav__link.letter-black.main-nav__link--active(href="#recuperar-ciudad") #RecuperaLaCiudad
                        li.main-nav__item
                            a.main-nav__link(href="#carrera-civil") Ingeniería Civil
                        li.main-nav__item
                            a.main-nav__link(href="#pilares") Nuestros Pilares
                        li.main-nav__item
                            a.main-nav__link(href="#articulos") Artículos
                        li.main-nav__item
                            a.main-nav__link.letter-blue(href="#postula") Postula

                    ul.menu__redes-sociales
                        li
                            a(href="")
                                img(src="img/icono/group2.png", alt="")
                        li
                            a(href="")
                                img(src="img/icono/group5.png", alt="")
                        li
                            a(href="")
                                img(src="img/icono/group6.png", alt="")
                        li
                            a(href="")
                                img(src="img/icono/group7.png", alt="")
                        li
                            a(href="")
                                img(src="img/icono/group8.png", alt="")
