<!-- Modal-login  -->
.modal.fade(tabindex="-1", role="dialog", aria-labelledby="gridSystemModalLabel", id="Modal-login")
    .modal-dialog.modal__contain(role="document")
        .modal-content
            .modal-button
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;

            .modal-body
                h3 Ingresa
                a.b-face(href="")
                    span.icon-facebook
                    | Ingresar con Facebook

                a.b-google(href="")
                    span.icon-google-plus
                    | Ingresar con Google
                .line
                    .o o

                .form-group
                    input#exampleInputEmail1.form-control.w-40(type='email', aria-describedby='emailHelp', placeholder='Nombre y Apellido')

                .form-group
                    .input-group
                        span#basic-addon1.input-group-addon @
                        input.form-control.w-40.b-right-l(type='text', placeholder='Correo electrónico', aria-describedby='basic-addon1')

                a.b-ingresar(href="") Ingresar


<!--  Modal-nuevo-punto  -->
.modal.fade(tabindex="-1", role="dialog", aria-labelledby="gridSystemModalLabel", id="Modal-nuevo-punto")
    .modal-dialog.modal__contain(role="document")
        .modal-content
            .modal-button
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
            .modal-body
                h3 Nuevo punto <br> <span> #RecuperaLaCiudad</span>
                .form-group
                    .input-group
                        span#basic-addon1.input-group-addon
                            img(src="img/icono/page1.png", alt="")
                        input.form-control.w-40.b-right-l(type='ubicacion', placeholder='Correo electrónico', aria-describedby='basic-addon1')
                .form-group
                    input#exampleInputEmail1.form-control.w-40(type='punto', aria-describedby='emailHelp', placeholder='Nombre del Punto')
                .form-group
                    textarea#comment.form-control(rows='5', type='comentario', aria-describedby='emailHelp', placeholder='Explícanos cual es el problema y como lo recuperarías (opcional) ')

                .subir
                    a(href="", type='file')
                        img(src="img/icono/sub.png", alt="")
                        | Subir foto o video
                a.b-ingresar(href="") Enviar



<!-- Modal - lugar -->
.modal.fade(tabindex="-1", role="dialog", aria-labelledby="gridSystemModalLabel", id="Modal-lugar")
    .modal-dialog.modal__contain(role="document")
        .modal-content
            .modal-button
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
            .modal-body
                h3 Cables Expuestos en Poste
                p.ubicacion
                    img(src="img/icono/page1.png", alt="")
                    | Calle Pardo 577, San Isidro
                img.foto-lugar(src="img/page1.jpg", alt="")
                h4 Cómo recuperarlo
                p.texto-lugar Lorem ipsum dolorem sit amet et alas consecitum et aprentum losdemar et consecut. Molentum lorem ipsosetum cosquetum. losdemar et consecut. Et pendelum de la lorem ipsosetum cosquetum. Ipso pendum lorem ipsosetum cosquetum. Ipsosetum cosquetum. Dependum loremutute et lormun.
                .nombre
                    p Carla Obregón
                    ul
                        li
                            a.like(href="") +2
                        li
                            a.compartir(href="")
                               img(src="img/icono/share.png", alt="")

<!-- Modal - loagin-->
.modal.fade(tabindex="-1", role="dialog", aria-labelledby="gridSystemModalLabel", id="Modal-loading")
    .modal-dialog.modal__contain(role="document")
        .modal-content
            .modal-button
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
            .modal-body
                img.animacion(src="img/ani-gif.gif", alt="")
                h3 Comparte  y <span>#RecuperaLaCiudad</span>



