
.ing_mundo#articulos
    .content-g
        h4 Ingeniería Civil <strong> en el mundo </strong>
        .owl-carousel.owl-theme.carousel
            .item
                img(src="img/page1.jpg", alt="")
                h4 La ciudad como problema  y solución
                p IKER SEISDEDOS  01/06/2017 - 21:57 CES

            .item
                img(src="img/page1.jpg", alt="")
                h4 La ciudad como problema  y solución
                p IKER SEISDEDOS  01/06/2017 - 21:57 CES
            .item
                img(src="img/page1.jpg", alt="")
                h4 La ciudad como problema  y solución
                p IKER SEISDEDOS  01/06/2017 - 21:57 CES
            .item
                img(src="img/page1.jpg", alt="")
                h4 La ciudad como problema  y solución
                p IKER SEISDEDOS  01/06/2017 - 21:57 CES
            .item
                img(src="img/page1.jpg", alt="")
                h4 La ciudad como problema  y solución
                p IKER SEISDEDOS  01/06/2017 - 21:57 CES

        .carousel-prev
            img(src="img/icono/fill1.png", alt="")

        .carousel-next
            img(src="img/icono/fill2.png", alt="")



