.ing_laboratorio#pilares
    .container
        .col-lg-12
            .ing_text
                .ing-carousel
                    .owl-carousel.owl-theme.carousel-civil
                        .item
                            h4 El campo es <strong>nuestro laboratorio.</strong>
                            hr
                            p Asumimos el entorno como un área de trabajo fundamental para poner en práctica nuestro conocimiento y aplicar los valores de una ingeniería sostenible.
                        .item
                            h4 El campo es <strong>nuestro laboratorio.</strong>
                            hr
                            p Asumimos el entorno como un área de trabajo fundamental para poner en práctica nuestro conocimiento y aplicar los valores de una ingeniería sostenible.
                        .item
                            h4 El campo es <strong>nuestro laboratorio.</strong>
                            hr
                            p Asumimos el entorno como un área de trabajo fundamental para poner en práctica nuestro conocimiento y aplicar los valores de una ingeniería sostenible.
                        .item
                            h4 El campo es <strong>nuestro laboratorio.</strong>
                            hr
                            p Asumimos el entorno como un área de trabajo fundamental para poner en práctica nuestro conocimiento y aplicar los valores de una ingeniería sostenible.
            .circle
                ul
                    li
                        .c-select
                    li
                        .c-select
                    li
                        .c-select
                    li
                        .c-select

