.content-g{
    max-width: 238px;
    margin: 0 auto;
    position: relative;
    @media (min-width: $screen-sm-min){
        max-width: 750px;
    }
    @media (min-width: $screen-md-min){
        max-width: 1140px;
    }
}
.conten-civil{
    max-width: 270px;
    margin: 0 auto;
    position: relative;
    @media (min-width: $screen-sm-min){
        max-width: 750px;
    }
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}



/*ING-CIVIL*/
.ing-civil{
    padding: 33px 49px 46px 33px;
    border-top: 3px solid #000000;
    clear: both;
    @media (min-width: $screen-sm-min){
        padding: 60px 49px 80px 33px;
    }
    @media (min-width: $screen-md-min){
        padding: 86px 49px 105px 33px;
    }
    .content-text{
        h4{
            font-size: 30px;
            margin:0px;
            color: black;
            @media (min-width: $screen-sm-min){
                font-size: 36px;
            }
        }
        h3{
            font-size: 20px;
            color: $celeste;
            font-weight: 600;
            margin: 5px 0px 17px;
            @media (min-width: $screen-sm-min){
                font-size: 25px;
            }
        }
        p{
            font-size: 14px;
            padding: 20px 0px;
            color: black;
            font-weight: 300;
            @media (min-width: $screen-sm-min){
                font-size: 20px;
                line-height: 22px;
            }
            @media (min-width: $screen-md-min){
                padding: 38px 0px 35px;
            }
        }
        hr{
            width: 36px;
            border-top: 3px solid $celeste;
            margin: 0px; 
            @media (min-width: $screen-sm-min){
                margin: 0 auto;
            }
        }
        @media (min-width:$screen-sm-min){
            text-align: center;
        }
    }
    a{
        background: $celeste;
        display: block;
        color: white;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        text-decoration: none;
        @media (min-width:$screen-sm-min){
            width: 314px;
            margin: 0 auto;
        }
        @media (min-width:$screen-md-min){
            font-size: 25px;        }
    &:hover{
        background:#05a8c5;
    }
    }
}



/* INGENIERIA SLIDER_1*/
.ing_laboratorio{
    background: url("../img/fondo1.jpg");
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    @media (min-width: $screen-md-min){
        height: 640px;
    }
    .ing_text{
        color: white;
        /*position: absolute;
        top: 37px;
        left:-25px;*/
        vertical-align: middle;
        display: table;
        @media(min-width:$screen-md-min){
            width: 360px;
        }   
    }
    .carousel-civil{
        width: 238px;
        @media (min-width: $screen-md-min){
            width: 360px;
        }
        
    }
    .ing-carousel{
        display: table-cell;
        vertical-align: middle;
        height: 330px;
        padding-top: 37px;
        padding-left: 5px;
        @media (min-width: $screen-md-min){
            height: 640px;
        }
    }
    .item{
        h4{
            font-size: 30px;
            font-weight: normal;
            margin: 0px 0px 19px;
            line-height: 31px;
            @media (min-width: $screen-md-min){
                font-size: 36px;
                padding-right: 21px;

            }
        }
        hr{
            width: 36px;
            margin:0px; 
            border-top: 3px solid $celeste;
        }
        p{
            font-size: 14px;
            padding: 21px 0px 20px;
            margin: 0px;
            @media (min-width:$screen-md-min){
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
    .circle{
        position: absolute;
        bottom: -42%;
        left: 0;
        width: 100%;
        @media (min-width: $screen-md-min){
            bottom: 5%;
        }
        ul{
            list-style: none;
            padding: 0px;
            text-align: center;
            li{
                display: inline-block;
                margin: 0 6px;
                cursor: pointer;
            }
        }
        
        .c-select{
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 2px solid white;
        }

        .active .c-select {
            background: white;
        }
    }
}


/*INGENIERIA SLIDER_2*/
.ing_mundo{
    padding: 35px 0px 63px;
    color: black;
    @media (min-width:$screen-sm-min){
        padding: 77px 60px 125px;
    }
    h4{
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        margin: 0px;
        @media (min-width: $screen-sm-min){
            text-align: center;
            font-size: 24px;
        }
        @media (min-width: $screen-md-min){
            font-size: 36px;
            text-align: center;
        }
    }
    p{
        font-size: 12px;
        color: #4C4C4C;
        padding: 10px 0px 11px;
        font-weight: 500;
        @media(min-width: $screen-sm-min){
            font-size: 13px;
        }
    }
    .owl-item{
        margin: 0 auto;
        margin-right: 0px;
    }
    .item{
        h4{
            font-weight: 600;
            font-size: 20px;
            text-align: left;
        }
        img{
            padding: 25px 0px 19px;
            @media (min-width:$screen-md-min){
                padding: 57px 0px 21px;
            }
        }
    }
    .carousel{
        position: relative;
        .item{
            border-bottom: 1px solid $plomo;
            padding: 0px 15px;
        }
    }
    .carousel-prev, .carousel-next {
        position: absolute;  
        z-index: 10;
        top: 35%;
        cursor: pointer;
        @media (min-width: $screen-sm-min){
            top: 45%;
        }
    }
    .carousel-prev {
        left: -20px;
        @media (min-width:$screen-md-min){
            left: -15px;
        }  
    }
    .carousel-next {
        right: -20px;
        @media (min-width:$screen-md-min){
            right: -15px;
        }
    }

}

/*FOOTER*/
.footer{
    padding: 38px 30px 47px;
    border-top: 3px solid #000000;
    text-align: center;
    overflow: hidden;
    @media (min-width: $screen-md-min){
        padding: 82px 60px 80px;
    }
    h4{
        font-size: 12px;
        margin: 0px;
        line-height: 15px;
        letter-spacing: -1.1px;
        @media (min-width: $screen-md-min){
            font-size: 14px;
            line-height: 16px;
        }
    }
    .w-info{
        border-top: 1px solid $celeste;
        border-bottom: 1px solid $celeste;
        padding: 12px 0px 22px;
        margin-top: 23px;
        overflow: hidden;
        @media (min-width: $screen-md-min){
            padding: 44px 0px 53px;
        }

        p{
            color: $celeste;
            font-size: 12px;
            margin:0px;
            line-height: 11px;
            font-weight: 600;
            @media (min-width:$screen-sm-min){
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    .sub-footer{
        text-align: left;
        display: none;
        ul{
            margin:0px 0px 15px;
            list-style: none;
            padding: 0px;
            li{
                float: left;
                margin-left: 13px;
                @media (min-width: $screen-md-min){
                   margin-left: 27px;
                }
                a{
                    color: black;
                    font-weight: 600;
                @media (min-width: $screen-sm-min){
                    font-size: 12px;
                }
                @media (min-width: $screen-md-min){
                    font-size: 16px;
                }
                }
            }
            li:first-child {
                margin-left: 0px;
            }  
        }
        @media (min-width: $screen-sm-min){
            display: inline-block;
        }
        
    }
    .redes{
        ul{
            list-style: none;
            display: inline-block;
            margin: 19px 0px 10px;
            padding: 0px;
            @media(min-width: $screen-sm-min){
                display: block;
            }
            li{
                float: left;
                margin-left: 12px;
            }
            li:first-child {
                margin-left: 0px;
            }
        }

    }
}


.col-md-7{
    max-width: 238px;
    padding: 0px;
    margin: 0 auto;
    @media (min-width: $screen-sm-min){
        max-width: 495px;
        text-align: left;
    }
    @media (min-width: $screen-md-min){
        max-width: 621px;
        margin-left: 15px;
    }
}
.col-md-5{
    max-width: 478px;
    text-align: center;
    @media (min-width: $screen-sm-min){
       text-align: right; 
    }
}
.col-logo {
    line-height: 134px;
    .logo-f{
        display: none;
        @media (min-width: $screen-sm-min){
            display: inline;
        }
    }
    h4{
        line-height: 30px;
        font-size: 12px;
        @media (min-width: $screen-sm-min){
            text-align: right;
            line-height: 0px;
        }
    }
    @media (min-width: $screen-sm-min){
        line-height: 180px;
    }
    @media (min-width: $screen-md-min){
        line-height: 236px;
    }
    @media (min-width: $screen-lg-min){
        line-height: 216px;
    }
}


.pd-0{
    padding: 0px;
}