.section-city {
    background: #00BEE0;
    margin-top: 60px;
    @media (min-width: $screen-sm-min) {
        margin-top: 110px;
    }
}

.city-information {
    background: #00BEE0;
    padding: 20px 0 12px 0;
    height: auto;
    position: relative;
    @media (min-width: $screen-sm-min) {
        padding-top: 50px;
        width: calc(40% - ((100% - #{$screen-sm-width}) / 2));
        margin-left: calc((100% - #{$screen-sm-width}) / 2);
        height: calc(100vh - 110px);    
    }

    @media (min-width: $screen-md-min) {
        width: calc(40% - ((100% - #{$screen-md-width}) / 2));
        margin-left: calc((100% - #{$screen-md-width}) / 2);
    }

    @media (min-width: $screen-lg-min) {
        width: calc(40% - ((100% - #{$screen-lg-width}) / 2));
        margin-left: calc((100% - #{$screen-lg-width}) / 2);
    }

    &:before {
        content: "";
        background: #00bee0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

.city-main-tittle {
    font-size: 24px;
    color: white;
    font-weight: 600;
    margin: 0 0 5px 0;

    @media (min-width: $screen-md-min) {
        font-size: 32px;
    }
}

.tittle-city {
    font-size: 14px;
    color: white;
    font-weight: 500;
    margin: 0 0 15px 0;
    line-height: 16px;

    @media (min-width: $screen-md-min) {
        font-size: 17px;
        line-height: 20px;
    }
}

.location-map {
    position: relative;
    
    .google_map {
        display: block;
        width: 100%;
        height: 400px;
        @media (min-width: $screen-sm-min) {
            height: calc(100vh - 110px);
        }
    }
}

.location-city {
    margin: -4px 0 0 0;
    background: url(../img/icono/page-1.png) no-repeat;
    height: 35px;
    padding: 0 0 0 35px;
    background-position: 8px 1px;
}

.location-tittle {
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin: 0 0 0 0;
    display: inline-block;
    cursor: pointer;
    &:hover {
        color: white;
    }
}

.icon-map, .icon-list {
    display: block;
    float: right;
    margin: -3px 0 0 0;
}

.icon-map {
    display: none;
}

.location-places {
    background: white;
    position: absolute;
    top: -100%;
    width: 100%;
    z-index: 1;
    transition: all .5s;

    @media (min-width: $screen-sm-min) {
        top: 0;
        opacity: 0;
        display: block;
        margin: 0;
        left: 0;
        width: 255px;
        height: 100%;
    }
    .location-places-desktop {
        @media (min-width: $screen-sm-min) {
            width: 100%;
        }
    }
    .tittle-places {
        font-size: 14px;
        font-weight: 500;
        color: $celeste;
        margin: 0 0 0 0;
        display: inline-block;
        cursor: pointer;
        padding: 0 0 0 35px;
        background: url(../img/icono/location.png) no-repeat;
        background-size: 27px;
        display: block;
        line-height: 48px;
        background-position: 4.5px 9px;
        &:hover {
            color: $celeste;
        }   
    }

    .places-bg {
        background: rgb(245, 243, 243);
        display: block;
        color: rgb(142, 142, 142);
        margin: 0 -15px;
        padding: 7px 15px;
    }

    ul {
        padding: 0;
        margin: 0 0 25px 0;
        li {
            list-style: none;
            a {
                padding: 9px 0;
                font-size: 14px;
                color: black;
                font-weight: 500;
                display: block;
            }
        }
    }
}

.open-places {
    left: 0;
    top: 100%;    

    @media (min-width: $screen-sm-min) {
        left: 100%;
        top: 0;
        opacity: 1;
    }
}

.close-map {
    display: none;
}

//REUTILIZABLE

.forms-inputs {
    display: block;
    width: 100%;
    height: 39px;
    padding: 6px 12px 6px 35px;
    font-size: 14px;
    line-height: 1.42857143;
    background: white url("../img/icono/search.png") no-repeat;
    color: $gris;
    background-size: 20px;
    border: none;
    color: #8f8f8e;
    background-position: 9px 8px;
    &:focus {
        outline: transparent auto 5px;
    }
}

.list-places {
    background: white;
    position: absolute;
    top: -100%;
    left: 0;
    height: 320px;
    overflow-y: scroll;
    transition: all .5s;
    z-index: 1;
    width: 100%;

    @media (min-width: $screen-sm-min) {
        height: 100%;
        top: 0;
    }

    .list-left {
        width: 98px;
        margin-right: 19px;
        float: left;
    }

    .list-right {
        width: calc(100% - 117px);
        float: left;
        .tittle-direction {
            color: black;
            font-size: 16px;
            font-weight: 600;
            margin: 0 0 6px 0;
        }

        .list-parrafo {
            font-size: 14px;
            font-weight: 500;
            color: black;
            margin: 0 0 3px 0;
        }

        .address-share {
            color: rgb(164, 164, 164);
            font-size: 14px;
            font-weight: 500;
            .compartir-place {
                float: right;
            }
        }
    }

    &.open {
        left: 0;
        top: 100%;    

        @media (min-width: $screen-sm-min) {
            left: 100%;
            top: 0;
        }
    }
}

.listado-row {
    overflow: hidden;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 23px 15px 30px 15px;
    &:first-child {
        padding: 17px 15px 30px 15px;
    }

    &:last-child {
        padding: 17px 15px 40px 15px;    
    }
}

.box-mapa {
    width: 100%;
    position: relative;
    z-index: 0;
    @media (min-width: $screen-sm-min) {
        width: 60%;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.box-information {
    padding: 0 15px;
    width: 100%;
    position: relative;
    z-index: 3;
    @media (min-width: $screen-sm-min) {
        padding-right: 30px;
    }
}


#map_canvas .centerMarker{
    position:absolute;
    /*url of the marker*/
    background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
    /*center the marker*/
    top:50%;left:50%;
    z-index:1;
    /*fix offset when needed*/
    margin-left:-10px;
    margin-top:-34px;
    /*size of the image*/
    height:34px;
    width:20px;
    cursor:pointer;
}