a {
    text-decoration: none;
}
.modal__contain{
    margin: 25px auto;
    width: 290px;

    @media (min-width: $screen-sm-min){
        width: 338px;
        margin: 62px auto;
    }  
}
.modal-content{
    border-radius: 0px;
    .modal-button{
        button{
            position: absolute;
            right: 12px;
            font-size: 32px;
            font-weight: 300;
            top: 12px;
            z-index: 10;
            color: black;
            opacity: 1;
        &:hover{
            opacity: .5;
        }
        }
    }
    h3{
        margin: 0;
        text-align: center;
        font-size: 16px;
        font-weight: 600; 
        padding-bottom:20px;
        color: black;
    }
    .b-ingresar{
        background:black;
        color: white;
        text-align: center;
        font-size: 16px;
        padding: 16px;
        display: block;
        font-weight: 500;
        margin-top: 18px;
    }
    .form-group{
        margin-bottom: 6px;
        input{
        &::placeholder {
            color: #979797;
        }
        }

        .form-control{
            border-radius: 0px;
            border: 1px solid #979797;
            color: black;
        &:focus{
            -webkit-box-shadow: none;
            box-shadow: none; 
        }
        }

        .input-group{
            .input-group-addon{
                background: transparent;
                border: 1px solid #979797;
                border-right: 0px;
                font-weight: 600;
                padding: 8px 0px 9px 7px;
                border-radius: 0px;
            }
        }
    }
}

/*  MODAL LOGIN   */
#Modal-login{
    .modal-header{
        border-bottom: 0px;   
    }
    .modal-body{
        padding: 32px 29px 35px 29px;

        .b-face{
            background: #37549B;
            color: white;
            padding: 15px 14px;
            font-size: 14px;
            display: block;
            margin-bottom: 5px;

        }
        .b-google{
            background: #E34F43;
            color: white;
            padding: 15px 14px;
            font-size: 14px;
            display: block;
        } 
        .line{
            position: relative;
            border-bottom: 1px solid #979797;
            width: 100%;
            margin: 13px 0px 14px;
            .o{
                position: absolute;
                background: white;
                top: -13px;
                left: 50%;
                width: 23px;
                text-align: center;
                color: #979797;
            }
        }
        
    }
    
}


#Modal-nuevo-punto{
    .modal-header{
        border-bottom: 0px;   
    }
    .modal-body{
        padding: 32px 29px 35px 29px;
        @media (min-width:$screen-sm-min){
            padding: 22px 27px 28px 27px; 
        }
    }
    .subir{
        margin: 13px 0px 23px;
        a{
            color: black;
            font-weight: 600;
            font-size: 14px;
        }
        img{
            margin-right: 12px;
        }
    }
    h3{
        font-size: 16px; 
        @media (min-width: $screen-sm-min){
            font-size: 20px;
        }
            span{
            color: $celeste;
        }
    }
}

#Modal-lugar {
    .modal-body{
        padding: 38px 24px 32px;
    }
    h3{
        text-align: left !important;
        padding-bottom: 7px;
        font-weight: 500;
        @media (min-width: $screen-sm-min){
            font-size: 18px;
        }
    }
    .foto-lugar{
        padding: 14px 0px;
    }
    .ubicacion{
        font-size: 12px;
        color: black;
        margin: 0px;
        font-weight: 500;
        img{
            margin-right: 6px;
            margin-top: -3px;
        }
    }
    h4{
        color: #00BEE0;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
    }
    .texto-lugar{
        font-size: 14px;
        color: black;
        padding: 5px 39px 14px 0px;
        line-height: 18px;
        font-weight: 500;
        @media (min-width: $screen-sm-min){
            padding: 5px 0px 14px 0px;
        }
    }
    .nombre{
        display: block;
        overflow: hidden;
        font-weight: 500;
        p{
            color: #A4A4A4;
            font-size: 14px;
            float: left;
            line-height: 28px;
            margin: 0px;
            
        }
        ul{
            padding: 0px;
            list-style: none;
            float: right;
            margin: 0px;
            li{
                float: left;
                .like{
                    width: 26px;
                    height: 23px;
                    border: 1px solid black;
                    font-size: 12px;
                    padding: 5px 6px;
                    color:black;
                    font-weight: 600;
                }
            }
            li:first-child{
                margin-right: 16px;
            }
        }
    }

}

/*  MODAL LOADING   */
#Modal-loading{
    .modal-body{
        padding: 101px 30px 100px;
        .animacion{
            width: 30%;
            display: block;
            margin: 0 auto;
        }
        h3{
            font-size: 16px;
            font-weight: 600;
            padding-top: 21px;
            span{
                color: #00BEE0;
            }
        }

    }
}



.b-right-l{
    border-left:0px !important;
}
.w-40{
    height: 47px;
}

.icon-facebook, .icon-google-plus{
    margin-right: 13px;
    font-size: 19px;
}
.icon-google-plus{
    margin-right: 9px;
    font-size: 17px;
}
