extends layout


block content
    include inc/menu

    include inc/main-city

    include inc/ing-civil

    include inc/slider_1

    include inc/slider_2

    include inc/pop-up

    include inc/footer

    a(href="", data-toggle="modal", data-target="#Modal-nuevo-punto") Solicita información
    a(href="", data-toggle="modal", data-target="#Modal-lugar") Solicita información
    a(href="", data-toggle="modal", data-target="#Modal-loading") Solicita información

