.navigator {
    position: relative;
    padding: 0 45px;
    height: 40px;

    &__button {
        font-size: 16px;
        background: #6d2b80;
        color: white;
        border: 0 none;
        padding: 9px 13px;
        position: absolute;
    }

    &__arrow {
        @extend .navigator__button;
        top: 0;

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }
    }

    &__current {
        height: 40px;
        border: 0 none;
        border-bottom: 1px solid #39a8d9;
        width: 40px;
        text-align: center;
        //background: #dae8ee;
        font-weight: bold;
    }

    &__pagination &__current,
    &__pagination &__button {
        margin: 0 15px;
    }

    &__pagination &__button {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__pagination {
        text-align: center;
        position: absolute;
        width: 230px;
        height: 40px;
        top: 0;
        left: 50%;
        margin-left: -115px;
    }

    &__pages {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__current,
    &__total,
    &__button,
    &__pages {
        display: inline-block;
    }
}